ASTDecl.incHookGetParent = [[
$if (IncrementalEnabled)
$if (IncrementalLevelParam)
state().addHandlerDepTo(getParent_handler);
$endif
$if (IncrementalLevelAttr)
state().addHandlerDepTo(getParent_handler);
$endif
$if (IncrementalLevelNode)
if (parent != null) {
  state().addHandlerDepTo(((ASTNode)parent).handler);
}
$endif
$if (IncrementalLevelRegion)
$if (IsRegionRoot)
if (state().IN_COMPUTATION > 0 && parent != null) {
  parent.handler().addDependant(handler);
}
$endif
$endif
$endif
]]