/bin
/ant-bin

# distribution files
/build
/jastadd2.jar
/jastadd2-bin.zip
/jastadd2-src.zip

# vim
*.swp

# Mac OS stuff
.DS_Store

# generated documentation files
/doc/index.md
/doc/*.html
/README-binary-dist.html

# Gradle
/.gradle
