/bin/
/ant-bin/
/src/gen-res/

# Build files.
/jastadd2.jar
/jastadd2-bin.zip
/jastadd2-src.zip
/jastadd2-src.jar
/jastadd2.jar.asc

# Vim swap files.
*.swp

# Mac OS files.
.DS_Store

# Generated documentation files.
/doc/index.md
/doc/*.html
/README-binary-dist.html
/README.html

# Gradle files.
/build/
/.gradle/

/notes
