# Attribute declaration JavaDoc comment
AttrDecl.hostFileComment = [[
  /**$SourceComment
   * @attribute #attributeKind
   * @aspect #getAspectName
   * @declaredat #declaredat
   */]]

AttrEq.hostFileComment = [[
  /**$SourceComment
   * @attribute #attributeKind
   * @aspect #getAspectName
   * @declaredat #declaredat
   */]]
