# Attribute declaration JavaDoc comment
AttrDecl.javaDoc = [[
  /**$SourceComment
   * @attribute #attributeKind
   * @aspect #getAspectName
   * @declaredat #declaredat
   */]]

AttrEq.javaDoc = [[
  /**$SourceComment
   * @attribute #attributeKind
   * @aspect #getAspectName
   * @declaredat #declaredat
   */]]
